<template>
    <q-layout container style="height: 100vh">
        <q-header>
            <q-bar class="bg-white shadow-1 text-dark">
                Test Zoho Kuzyshyn Nazar
            </q-bar>

        </q-header>
        <q-page-container>
            <q-page :style-fn="heightPage" class="q-ma-lg">
                <div class="row q-col-gutter-lg">
                    <div class="col-6">
                        <q-card bordered class="no-shadow full-height">
                            <q-card-section class="q-pa-none">
                                <q-card-section>
                                    <q-input v-model="deal.Account_Name" label="Ваше ім'я"></q-input>
                                    <error-component
                                        v-if="errors && errors['Account_Name']&& errors['Account_Name'].length!==0 "
                                        :errors="errors['Account_Name']"
                                    />
                                </q-card-section>
                                <q-card-section>
                                    <q-input v-model="deal.Website" label="Ваш вебсайт"></q-input>
                                    <error-component
                                        v-if="errors && errors['Website']&& errors['Website'].length!==0 "
                                        :errors="errors['Website']"
                                    />
                                </q-card-section>
                                <q-card-section>
                                    <q-input v-model="deal.Phone" label="Ваш телефон"
                                             prefix="(+38)"
                                             mask="###-###-####"
                                    ></q-input>
                                    <error-component
                                        v-if="errors && errors['Phone']&& errors['Phone'].length!==0 "
                                        :errors="errors['Phone']"
                                    />
                                </q-card-section>
                            </q-card-section>
                        </q-card>
                    </div>
                    <div class="col-6">
                        <q-card bordered class="no-shadow full-height">
                            <q-card-section class="q-pa-none">
                                <q-card-section>
                                    <q-input v-model="deal.Deal_Name" label="Назва угоди"></q-input>
                                    <error-component
                                        v-if="errors && errors['Deal_Name']&& errors['Deal_Name'].length!==0 "
                                        :errors="errors['Deal_Name']"
                                    />
                                </q-card-section>
                                <q-card-section>
                                    <q-select v-model="deal.Stage" :options="stages" label="Етап"/>
                                    <error-component
                                        v-if="errors && errors['Stage']&& errors['Stage'].length!==0 "
                                        :errors="errors['Stage']"
                                    />
                                </q-card-section>


                            </q-card-section>
                        </q-card>
                    </div>
                    <div class="col-12">
                        <q-card bordered class="no-shadow">
                            <q-card-section class="flex justify-center">
                                <q-btn-group outline>
                                    <q-btn no-caps class=" q-pa-sm" size="12px" flat icon="clear"
                                           @click="clearForm"
                                           label="Очистити форму"/>
                                    <q-btn @click="saveCreateDeal" no-caps class="q-pa-sm" size="12px" flat icon="save"
                                           :loading="isCreateDeal"
                                           label="Зберегти"/>
                                </q-btn-group>
                            </q-card-section>

                        </q-card>
                    </div>


                </div>

            </q-page>
        </q-page-container>
        <q-footer>
            <q-bar class="bg-white text-dark shadow-up-1">
                Test Zoho
            </q-bar>

        </q-footer>
    </q-layout>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import ErrorComponent from "../components/ErrorComponent.vue";


export default {
    name: "MainPage",
    components: {ErrorComponent},
    data() {
        return {
            isCreateDeal: false,
            deal: {
                Account_Name: '',
                Website: '',
                Phone: '',
                Deal_Name: '',
                Stage: ''
            }
        }
    },
    computed: {
        ...mapGetters({
            errors: 'deals/errors',
            errorMessage: 'deals/message',
            stages: 'deals/stages',
        }),
    },
    watch: {
        errors: "handleErrors",
    },

    created() {
        this.getStages()
    },
    methods: {
        ...mapActions({
            create: 'deals/createDeal',
            getStages: 'deals/getStages',
            clearMessage: 'deals/clearMessage',
            clearErrors: 'deals/clearErrors',
        }),
        heightPage(offset) {
            return {minHeight: offset ? `calc(100vh - ${offset}px - 48px)` : '100vh'}
        },
        saveCreateDeal() {
            this.isCreateDeal = true
            this.create(this.deal).then(() => {
                if (Object.values(this.errors).length === 0) {
                    this.clearForm()
                }
                this.isCreateDeal = false

            })
        },
        clearForm() {
            this.deal = {
                Account_Name: '',
                Website: '',
                Phone: '',
                Deal_Name: '',
                Stage: ''
            }
        },
        handleErrors(val) {
            if (val.length !== 0) {
                setTimeout(() => {
                    this.clearErrors();
                }, 6000);
            }
        },
    },
}
</script>

<style>

</style>
