<template>
  <q-banner  class="bg-transparent text-negative">
    <div>
      <div v-for="(error,index) in componentErrors" :key="index">
        {{error}}
        <q-btn @click="componentErrors.splice(index, 1)" size="sm"  flat round square
               icon="close"/>
      </div>
    </div>
  </q-banner>
</template>

<script>
export default {
  name: "ErrorComponent",
  data() {
    return {
      componentErrors:this.errors
    }
  },
  props: {
    errors: {
      type: Array,
    },
  },
}

</script>

<style scoped>

</style>
